@page
@model Mission09_plessem.Pages.PurchaseCompletedModel
@{
}

<div class="text-center">
    <h2>Thanks! Your order was successfully placed!</h2>
    <br />
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>